*{
    margin: 0;
    padding: 0;
}
body{
    width: 1000px;
    margin: 0 auto;
}
header{
    width: 100%;
    float: right;
    font-style: italic;
    background-color: lightgray;
    }
table tbody tr{
    margin-bottom: 100px;
}
.header_left{
        float: left;
        margin-left: 50px;
    }
.header_right{
        float: right;
        margin-right: 50px;
    }
nav a:hover{
        cursor: pointer;
        color: antiquewhite;
    }
nav a{
        text-decoration: none;
        font: 1.2em sans-serif;
        padding: 10px;
        margin-right: 5px;
        color: lightgray;
    }
nav{
        background-color: gray;
    }
.page_caption{
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 150%;
        color: #EC8701;
    }
.fieldset{
        border: none !important;
        border-top: 1px dashed #ccc !important;
        padding: 0px !important;
        margin-bottom: 5px;
    }
.left_section {
        clear: both;
        width: 47%;
        float: left;
        padding-right: 2%;
    }
.right_section {
        width: 47%;
        float: right;
        padding-left: 2%;
        border-left: 1px solid #ccc;
    }

.container{
    grid-column: span;
    background-color: #ccc;
    margin: 1px;
    box-sizing: border-box;
}